.root {
    -fx-background-image: url("../images/ocean_bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.move-btn {
    -fx-pref-width : 50.0;
    -fx-pref-height : 50.0;
}

.begin-game-btn {
    -fx-pref-width : 150.0;
    -fx-pref-height : 50.0;
}

.game-event-text-area {
    -fx-text-fill : rgba(255, 255, 255, 1);
    -fx-background-color: rgba(19, 40, 71, 0.6);
    -fx-background-insets : 0px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
